.header {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 1.563vw;
  }
  &__logo {
    display: flex;
    a {
      margin-right: 0.781vw;
      img {
        width: 3.594vw;
      }
    }
    p {
      width: 5.729vw;
      font-size: 0.677vw;
      span {
        font-family: "FuturaPT-Bold";
      }
    }
  }
  &__text {
    position: relative;
    img {
      width: 4.219vw;
      position: absolute;
      top: -0.781vw;
    }
    p {
      width: 9.375vw;
      font-size: 0.677vw;
      span {
        font-family: "FuturaPT-Bold";
      }
    }
  }
  &__map {
    display: flex;
    margin-top: 0.521vw;
    img {
      width: 2.813vw;
      align-self: flex-start;
      margin-right: 0.26vw;
      margin-top: 0.26vw;
    }
    p {
      margin-top: 0.26vw;
      width: 5.167vw;
      font-size: 0.677vw;
      span {
        font-family: "FuturaPT-Bold";
      }
    }
  }
  &__button {
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      width: 9.115vw;
      height: 3.125vw;
      text-transform: lowercase;
      background: linear-gradient(#61d856, #5cb653);
      border-radius: 0.521vw;
    }
  }
  &__messanger {
    p {
      font-size: 0.677vw;
      text-align: center;
    }
    div {
      display: flex;
      justify-content: center;
      margin-top: 0.156vw;
      a {
        width: 1.563vw;
        height: 1.563vw;
        margin-right: 0.26vw;
        position: relative;
        border-radius: 50%;
        
        &:last-child {
          margin-right: 0;
        }
        &:nth-child(1) {
          background: #7460f3;
        }
        &:nth-child(2) {
          background: #00a2f2;
        }
        &:nth-child(3) {
          background: #48a43f;
        }
        img {
          width: 0.573vw;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
  &__contact {
    div {
      display: flex;
      img {
        width: 0.313vw;
        margin-right: 0.26vw;
        align-self: center;
      }
      p {
        font-size: 0.677vw;
        letter-spacing: -0.01rem;
        text-align: right;
      }
    }
    a {
      color: #48a43f;
      font-size: 0.833vw;
      margin-left: 0.521vw;
      display: block;
      letter-spacing: 0rem;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__telephone {
    font-size: 0.99vw;
    font-family: "FuturaPT-Bold";
    margin-top: 0.156vw;
    text-align: right;
    transition: 0.3s;
    color: inherit;
    &:hover {
      color: #48a43f;
      text-decoration: none;
    }
  }
}
// 992px
@media screen and (max-width: 992px) {
  .header {
    &__wrapper {
      padding-top: 1.8756rem;
    }
    &__logo {
      display: flex;
      a {
        margin-right: .9372rem;
        img {
          width: 4.3128rem;
        }
      }
      p {
        display: none;
      }
    }
    &__text {
      display: none;
    }
    &__map {
      margin-top: .6252rem;
      img {
        width: 3.3756rem;
        margin-right: .312rem;
        margin-top: .312rem;
      }
      p {
        margin-top: .312rem;
        width: 6.2004rem;
        font-size: .8124rem;
      }
    }
    &__button {
      a {
        width: 10.938rem;
        height: 3.75rem;
        border-radius: .6252rem;
      }
    }
    &__messanger {
      p {
        font-size: .8124rem;
      }
      div {
        margin-top: .1872rem;
        a {
          width: 1.8756rem;
          height: 1.8756rem;
          margin-right: .312rem;
          img {
            width: .6876rem;
          }
        }
      }
    }
    &__contact {
      div {
        img {
          width: .3756rem;
          margin-right: .312rem;
        }
        p {
          font-size: .8124rem;
          letter-spacing: -0.01rem;
        }
      }
      a {
        font-size: .9996rem;
        margin-left: .6252rem;
        letter-spacing: 0rem;
      }
    }
    &__telephone {
      font-size: 1.188rem;
      margin-top: .1872rem;
    }
  }
}
// 767px
@media screen and (max-width: 768px) {
  .header {
    &__map {
      display: none;
    }
  }
}
// 570px
@media screen and (max-width: 600px) {
  .header {
    &__button {
      display: none;
    }
  }
}
// 425px
@media screen and (max-width: 425px) {
  .header {
  }
}