.order {
  margin-top: -1.563vw;
  position: relative;
  padding-top: 1.563vw;
  &__background {
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  &__group {
    display: flex;
    justify-content: space-between;
    margin-top: 4.167vw;
  }
  &__item {
    position: relative;
    & > img {
      width: 19.271vw;
    }
  }
  &__fill {
    top: -2.083vw;
    position: absolute;
    & > div {
      padding: 0 2.865vw;
      width: 19.271vw;
      display: flex;
      justify-content: center;
      .order__circle {
        background: #48a43f;
        color: white;
        font-size: 1.146vw;
        font-family: "FuturaPT-Bold";
        height: 3.385vw;
        width: 3.385vw;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      h3 {
        margin-top: 1.563vw;
        font-size: 1.615vw;
        font-family: "FuturaPT-Bold";
      }
      p {
        margin-top: 0.885vw;
        font-size: 1.198vw;
        text-align: center;
        font-family: "FuturaPT-Book";
        line-height: 1.25;
        span {
          font-size: 1.354vw;
          font-family: "FuturaPT-Bold";
        }
      }
      a {
        margin-top: 1.563vw;
        display: inline-block;
        padding: 1.823vw 4.167vw;
        color: white;
        border-radius: 0.521vw;
        border: none;
        font-size: 0.885vw;
        letter-spacing: 0.03rem;
        font-family: "FuturaPT-Bold";
        text-transform: uppercase;
        background: linear-gradient(#11b6d1, #338db8);
      }
      
    }
  }
  &__tel {
    margin-top: 1.146vw;
    font-size: 1.25vw;
    text-align: center;
    font-family: "FuturaPT-Book";
    line-height: 1.25;
    span {
      margin-top: 0.26vw;
      display: inline-block;
      font-size: 1.563vw;
      font-family: "FuturaPT-Bold";
      &:last-child {
        margin-top: 0;
      }
    }
  }
}