* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  font-size: 0.833vw;
  font-family: "FuturaPT-Medium";
  color: #282728;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
a {
  color: #282728;
  text-decoration: none;
}
input,
button,
textarea {
  font-size: inherit;
  font-family: inherit;
}
input[type="checkbox"] {
  width: 0.781vw;
  height: 0.781vw;
}
input[type="tel"] {
  &::placeholder {
    color: #acacac;
  }
}
button {
  cursor: pointer;
}
@media screen and (max-width: 992px) {
  html,
  body {
    font-size: 16px;
  }
  input[type="checkbox"] {
    width: 15px;
    height: 15px;
  }
}